.hero__main {
  position: relative;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;
  display: flex;
  flex-grow: 1;
}

.group-title {
  width: 510px;
}
.group-title__uppertitle--dark-theme {
  @extend %group-title__uppertitle;
  @extend %text;
  color: $upper-title-button-dark-theme-color;
  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: $upper-title-button-dark-theme-color;
  }
}
.group-title__main-title {
  @extend %text;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: $primary-text-color;
  animation-delay: 450ms;
}

.group-title__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30 / 18;
  letter-spacing: 0.02em;
  color: $sub-title-dark-theme-color;
  animation-delay: 950ms;
}
