.burger-button-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: $primary-text-color;
  cursor: pointer;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.burger__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  transition: fill 200ms $timing-function;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transform: translateX(130%);
  transition: transform 250ms $timing-function;
  &.is-open {
    transform: translateX(30%);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 479px) {
    padding-top: 50px;
    padding-left: 20px;
  }
}
