.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  transition: backdrop-filter $hero-animation, background-color $hero-animation;
  @media screen and (min-width:768px) and (max-width:789px) {
    width: 768px;
  }
  @media screen and (min-width:790px) and (max-width:1199px) {
    width: 790px;
  }
  @media screen and (min-width:1200px) {
  width: 1200px;
}

}
.header.no-transparency {
  backdrop-filter: blur(4px);
  background-color: $header-bg-color;
}
.header__container {
  @extend %container;
  @media screen and (min-width:768px){
    display: flex;
  align-items: center;
  padding-left: 16px;
    
  }
  @media screen and (min-width:1200px){
  padding-left: 30px;
    
  }
}
.logo {
  @media screen and (min-width:768px) and (max-with:1199px) {
    display:block;
    padding: 100px;
  }
  @media screen and (min-width:1200px) {
    margin-right: 132px;
  }
}
.logo__icon {
  fill: $title-text-color-light-theme;
  transition: fill 250ms $timing-function, transform 250ms $timing-function;
  .logo:hover &,
  .logo:focus & {
  transform: scale(1.5);
  fill: $accent-color;
}
}



